ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #302f44;
  color: white;
}

ul li {
  float: left;  
}

ul li img{
  padding: 10px 10px  
}

ul li h2{
  padding: 0px 10px  
}

ul li a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

#link{
  padding: 28px 16px;
}

#link:hover {
  background-color: #776bb9;
}