@font-face {
    font-family: 'PokemonHollow';
    src: url('assets/fonts/PokemonHollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('assets/fonts/PokemonSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}